{% extends 'base.html.twig' %}

{% block title %}Marge{% endblock %}

{% block body %}
    <h1>Marge</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ marge.id }}</td>
            </tr>
            <tr>
                <th>Marge_achat</th>
                <td>{{ marge.margeAchat }}</td>
            </tr>
            <tr>
                <th>Marge_vente</th>
                <td>{{ marge.margeVente }}</td>
            </tr>
            <tr>
                <th>Date_mise_jour</th>
                <td>{{ marge.dateMiseJour ? marge.dateMiseJour|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_marge_index') }}">back to list</a>

    <a href="{{ path('app_marge_edit', {'id': marge.id}) }}">edit</a>

    {{ include('marge/_delete_form.html.twig') }}
{% endblock %}
